In [1]:
import pandas as pd
import numpy as np
import keras

import warnings
warnings.simplefilter('ignore', FutureWarning)

In [2]:
filepath='concrete_data.csv'
concrete_data = pd.read_csv(filepath)

concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

## Import Keras Package

In [3]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Input

In [6]:
n_cols = concrete_data.shape[1]
model = Sequential()
model.add(Input(shape=(n_cols,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))
    
# compile model
model.compile(optimizer='adam', loss='mean_squared_error')

In [1]:
from sklearn.model_selection import train_test_split
concrete_data_columns = concrete_data.columns
X=concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
y=concrete_data['Strength']
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

ModuleNotFoundError: No module named 'sklearn'